.blog{
    background-color: #eee;
    border:1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    margin: 5px 5px;
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px auto;
    box-sizing: border-box;
}

.section1{
    display: flex;
    flex-direction: row;
}

.blog_title{
    color: teal;
    font-size:x-large;
    width: fit-content;
    padding: 5px 10px;
}
.blog_author{
    color: rgb(102, 101, 101);
    padding: 3px auto;
}

.blog_body{
    width: fit-content;
    text-align: left;
    padding: 10px 10px;
    font-size: medium;
    font-weight: 300;
    word-spacing: 3px;
    
}

.blog_image{
    width: 400px;
    padding: 5px 15px;
}

.blog_image > img {
    width: 100%;
   height: fit-content;
}